<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapepr 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper">
	<resultMap type="QnA" id="qnaResultSet">
		<id property="qnano" column="QNA_NO" />
		<result property="qcont" column="QCONT" />
		<result property="qdate" column="QDATE" />
		<result property="qreply" column="QREPLY" />
		<result property="qstatus" column="QSTATUS" />
		<result property="usno" column="US_NO" />	
		<!-- USER 테이블 조인을 위한 필드 -->
		<result property="usname" column="US_NAME" />	
	</resultMap>
	
	<resultMap type="Report" id="reportResultSet">
		<id property="report_no" column="REPORT_NO" />
		<result property="rep_res" column="REP_RES" />
		<result property="rep_cont" column="REP_CONT" />
		<result property="rdate" column="RDATE" />
		<result property="rstatus" column="RSTATUS" />
		<result property="rexdate" column="REXDATE" />
		<result property="r_img_path" column="R_IMG_PATH" />
		<result property="r_img_name" column="R_IMG_NAME" />
		<result property="r_img_cname" column="R_IMG_CNAME" />
		<result property="usno" column="US_NO" />			      <!-- USER 테이블 조인 -->
		<result property="r_count" column="R_COUNT" />
		<result property="bus_code" column="REF_BUS_CODE" />      <!-- BUSINESS 테이블 조인 -->
		<!-- USER 테이블 조인을 위한 필드 -->
		<result property="usname" column="US_NAME" />	
	</resultMap>
	
	<resultMap type="Business" id="businessResultSet">
		<id property="bus_code" column="BUS_CODE" />
		<result property="us_no" column="US_NO" />
		<result property="bus_name" column="BUS_NAME" />
		<result property="bus_address" column="BUS_ADDRESS" />
		<result property="bus_intro" column="BUS_INTRO" />
		<result property="bus_date" column="BUS_DATE" />
		<result property="bus_modify" column="BUS_MODIFY" />
		<result property="ad_count" column="AD_COUNT" />
		<result property="bus_classify" column="BUS_CLASSIFY" />
		<result property="bus_category" column="BUS_CATEGORY" />
		<result property="bus_status" column="BUS_STATUS" />
		<result property="bus_phone" column="BUS_PHONE" />
		<result property="res_category" column="RES_CATEGORY"/>
		<result property="hotel_category" column="HOTEL_CATEGORY" />
		<result property="tour_category" column="TOUR_CATEGORY" />
		<result property="tour_tema" column="TOUR_TEMA" />
		<result property="al_no" column="AL_NO" />
		<result property="bus_opening" column="BUS_OPENING" />
		<!-- USER 테이블 조인을 위한 필드 -->
		<result property="usname" column="US_NAME" />	
	</resultMap>
	
	<resultMap type="Alliance" id="AllianceResultSet">
		<id property="alno" column="AL_NO" />
		<result property="alintro" column="AL_INTRO" />
		<result property="alsubdate" column="AL_SUBDATE" />
		<result property="startdate" column="START_DATE" />
		<result property="aimgpath" column="A_IMG_PATH" />
		<result property="aimgname" column="A_IMG_NAME" />
		<result property="aimgcname" column="A_IMG_CNAME" />
		<result property="amassage" column="A_MASSAGE" />
		<result property="usno" column="US_NO" />
		<result property="bus_code" column="BUS_CODE" />
		<!-- USER 테이블 조인을 위한 필드 -->
		<result property="usname" column="US_NAME" />	
		<!-- INCOME 테이블 조인을 위한 필드 -->
		<result property="amount" column="amount" />	
		<!-- BUSINESS 테이블 조인을 위한 필드 -->
		<result property="bus_category" column="BUS_CATEGORY" />	
	</resultMap>
	
	<resultMap type="Income" id="IncomeResultSet">
		<id property="payno" column="PAY_NO" />
		<result property="item" column="ITEM" />
		<result property="amount" column="AMOUNT" />
		<result property="pdate" column="PDATE" />
		<result property="exdate" column="EXDATE" />
		<result property="usno" column="US_NO" />
		<!-- USER 테이블 조인을 위한 필드 -->
		<result property="usname" column="US_NAME" />	
	</resultMap>
	
	<select id="selectAdminMainQnaSelect" resultMap="qnaResultSet">
		SELECT *
		  FROM
              (SELECT "QNA_NO", QCONT, US_NAME
               FROM "QnA", "USER"
               WHERE  "QnA".US_NO = "USER".US_NO
           AND QSTATUS = 'N'	<!-- 미답변만 select -->
               ORDER BY "QNA_NO")
		 WHERE 
		       ROWNUM <![CDATA[<=]]> 10 <!-- admin 메인 페이지에 10개의 qna 만 보이도록 limit절 처리 -->
	</select>	
	
	<select id="adminQnaSelect" resultMap="qnaResultSet">
        SELECT *
          FROM "QnA", "USER"
         WHERE "QnA".US_NO = "USER".US_NO
   AND QSTATUS = 'N'	<!-- 미답변만 select -->
      ORDER BY "QNA_NO"
	</select>	
	
	<update id="insertQnaReply" parameterType="QnA">
		UPDATE "QnA"
		   SET
			   QREPLY = #{qreply},
			   QSTATUS = 'Y'
	     WHERE
	     	   QNA_NO = #{qnano}
	</update>
	
	<select id="countQnA" resultType="_int">
		SELECT 
			  COUNT(*)
		  FROM
		       "QnA"
         WHERE
               QSTATUS = 'N'
	</select>
	
	<select id="searchQnaList" parameterType="aSearch" resultMap="qnaResultSet">
	<bind name="sv" value="'%' + _parameter.getSearchValue() + '%'"/> 
		SELECT
		       *
		  FROM
		       "QnA", "USER"	
		<where>
			"QnA".US_NO = "USER".US_NO <!-- 테이블 조인 -->
			<choose>
				<when test="searchCondition == 'qnano'">
					AND "QNA_NO" LIKE #{sv}
				</when>
				<when test="searchCondition == 'qcont'">
					AND QCONT LIKE #{sv}
				</when>
				<when test="searchCondition == 'qdate'">
					AND QDATE LIKE #{sv}
				</when>
				<when test="searchCondition == 'qreply'">
					AND QREPLY LIKE #{sv}
				</when>
				<when test="searchCondition == 'qstatus'">
					AND QSTATUS LIKE #{sv}
				</when>
				<when test="searchCondition == 'usno'">
					AND US_NO LIKE #{sv}
				</when>
				<when test="searchCondition == 'usname'">
					AND US_NAME LIKE #{sv}
				</when>
				<otherwise>
					AND ("QNA_NO" LIKE #{sv}
						 OR QCONT LIKE #{sv}
						 OR QDATE LIKE #{sv}
						 OR QREPLY LIKE #{sv}
						 OR QSTATUS LIKE #{sv}
						 OR US_NO LIKE #{sv}
						 OR US_NAME LIKE #{sv})
				</otherwise>	
			</choose>
		</where>
			  ORDER BY "QNA_NO"
	</select>
	
	<select id="adminReportSelect" resultMap="reportResultSet">
			SELECT 
					REPORT_NO,
					REPORT.US_NO,
					"USER".US_NAME,
					REP_RES,
					REP_CONT,
					RDATE,
					RSTATUS,
					REXDATE,
					R_IMG_PATH,
					R_IMG_NAME,
					R_IMG_CNAME,
					R_COUNT,
					REF_BUS_CODE
			FROM REPORT, "USER"
			WHERE REPORT.US_NO = "USER".US_NO
			AND RSTATUS = 'N'
			ORDER BY RDATE
	</select>
	
	<update id="updateRstatusToY" parameterType="Report">
		UPDATE REPORT
		   SET
			   RSTATUS = 'Y',
			   R_COUNT = R_COUNT + 1
	     WHERE
	     	   REPORT_NO = #{report_no}
	       AND REF_BUS_CODE = #{bus_code}
	</update>
	
	<update id="updateRstatusToR" parameterType="Report">
		UPDATE REPORT
		   SET
			   RSTATUS = 'R'
	     WHERE
	     	   REPORT_NO = #{report_no}
	       AND REF_BUS_CODE = #{bus_code}
	</update>
	
	<update id="updateRstatusToYAndRexdate" parameterType="Report">
		UPDATE REPORT
		   SET
			   RSTATUS = 'Y',
			   R_COUNT = R_COUNT + 1,	
			   REXDATE = SYSDATE + 7
	     WHERE
	     	   REPORT_NO = #{report_no}
	       AND REF_BUS_CODE = #{bus_code}
	</update>
	
	
	<select id="adminMainBusinessSelect" resultMap="businessResultSet">
		SELECT *
		  FROM
              (SELECT US_NAME, BUS_NAME, BUS_CODE, BUS_ADDRESS, BUS_CATEGORY 
               FROM BUSINESS, "USER"
               WHERE BUSINESS.US_NO = "USER".US_NO
               ORDER BY BUS_DATE)
		 WHERE 
		       ROWNUM <![CDATA[<=]]> 10 <!-- admin 메인 페이지에 10개의 신규사업장만 보이도록 limit절 처리 -->
	</select>
	
	<select id="countAd1" resultType="_int">	
		SELECT 
			  COUNT(*)
		  FROM
		      ALLIANCE
		 WHERE
		      ALSTATUS = 'N'
	</select>	

	<select id="adminbannerAdSelect" resultMap="AllianceResultSet">
		SELECT
				ALLIANCE.AL_NO,
                "USER".US_NAME,
                BUSINESS.BUS_CATEGORY,
                BUSINESS.BUS_CODE,
				AMOUNT,
				AL_INTRO,
				AL_SUBDATE,
				ALSTATUS,
				START_DATE,
				A_IMG_PATH,
				A_IMG_NAME,
				A_IMG_CNAME,
				A_MASSAGE,
				ALLIANCE.US_NO
		FROM    
				ALLIANCE,  INCOME, "USER", BUSINESS
        WHERE 
        		ALLIANCE.US_NO = INCOME.US_NO(+)
        AND     ALLIANCE.US_NO = "USER".US_NO
        AND     BUSINESS.BUS_CODE = ALLIANCE.BUS_CODE
		AND     ALSTATUS = 'N'
	</select>
	



</mapper>