<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapepr 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="businessMapper">
	<resultMap type="Business" id="BusinessResultSet">
		<id property="bus_code" column="BUS_CODE" />
		<result property="us_no" column="US_NO" />
		<result property="bus_name" column="BUS_NAME" />
		<result property="bus_address" column="BUS_ADDRESS" />
		<result property="bus_intro" column="BUS_INTRO" />
		<result property="bus_date" column="BUS_DATE" />
		<result property="bus_modify" column="BUS_MODIFY" />
		<result property="ad_count" column="AD_COUNT" />
		<result property="bus_classify" column="BUS_CLASSIFY" />
		<result property="bus_category" column="BUS_CATEGORY" />
		<result property="bus_status" column="BUS_STATUS" />
		<result property="bus_phone" column="BUS_PHONE" />
		<result property="res_category" column="RES_CATEGORY"/>
		<result property="hotel_category" column="HOTEL_CATEGORY" />
		<result property="tour_category" column="TOUR_CATEGORY" />
		<result property="tour_tema" column="TOUR_TEMA" />
		<result property="al_no" column="AL_NO" />
		<result property="bus_opening" column="BUS_OPENING" />
		<result property="hotel_facility" column="HOTEL_FACILITY" />
		<result property="file_rename" column="FILE_RENAME" />	<!-- 비즈니스ATT 대한 JOIN -->
		<result property="file_lv" column="FILE_LV" />
		<!-- USER 테이블 조인을 위한 필드 -->
		<result property="usname" column="US_NAME" />
		<!-- 관광지프로덕트 조인 -->	
		<result property="pro_name" column="PRO_NAME" />
		<result property="pro_price" column="PRO_PRICE" />
		<result property="pro_adult" column="PRO_ADULT" />
		<result property="pro_youth" column="PRO_YOUTH" />
		<result property="pro_child" column="PRO_CHILD" />
		<result property="pro_fac" column="PRO_FAC" />
		<result property="pro_no" column="PRO_NO" />
		<!-- 차조인 -->
		<result property="car_name" column="CAR_NAME" />
		<result property="car_type" column="CAR_TYPE" />
		<result property="car_producer" column="CAR_PRODUCER" />
		<result property="car_fuel" column="CAR_FUEL" />
		<result property="car_price" column="CAR_PRICE" />
		<result property="rent_no" column="CAR_NO" />
		<!-- 방 조인 -->
		<result property="room_name" column="ROOM_NAME" />
		<result property="room_price" column="ROOM_PRICE" />
		<result property="room_people" column="ROOM_PEOPLE" />
		<result property="room_amenity" column="ROOM_AMENITY" />
		<result property="room_no" column="ROOM_NO" />
		<!-- 신고기록 조인 -->
		<result property="rexdate" column="REXDATE" />
		<result property="ref_bus_code" column="REF_BUS_CODE" />
	</resultMap>
	
	<resultMap type="BusinessAtt" id="BusinessAttResultSet">
		<id property="file_no" column="FILE_NO" />
		<result property="file_name" column="FILE_NAME" />
		<result property="file_root" column="FILE_ROOT" />
		<result property="file_status" column="FILE_STATUS" />
		<result property="file_rename" column="FILE_RENAME" />
		<result property="file_lv" column="FILE_LV" />
		<result property="bus_code" column="BUS_CODE" />
	</resultMap>
	
	<resultMap type="Car" id="CarResultSet">
		<id property="car_no" column="CAR_NO" />
		<result property="bus_code" column="BUS_CODE" />
		<result property="car_name" column="CAR_NAME" />
		<result property="car_type" column="CAR_TYPE" />
		<result property="car_producer" column="CAR_PORDUCER" />
		<result property="car_fuel" column="CAR_FUEL" />
		<result property="car_price" column="CAR_PRICE" />
		<result property="car_date" column="CAR_DATE" />
		<result property="car_modify" column="CAR_MODIFY" />
	</resultMap>
	
	<resultMap type="CarAtt" id="CarAttResultSet">
		<id property="file_no" column="FILE_NO" />
		<result property="file_name" column="FILE_NAME" />
		<result property="file_root" column="FILE_ROOT" />
		<result property="file_status" column="FILE_STATUS" />
		<result property="file_rename" column="FILE_RENAME" />
		<result property="file_lv" column="FILE_LV" />
		<result property="car_no" column="CAR_NO" />
	</resultMap>
	
	<resultMap type="Report" id="ReportResultSet">
		<id property="report_no" column="REPORT_NO" />
		<result property="rep_res" column="REP_RES" />
		<result property="rep_cont" column="REP_CONT" />
		<result property="rdate" column="RDATE" />
		<result property="rstatus" column="RSTATUS" />
		<result property="rexdate" column="REXDATE" />
		<result property="r_img_path" column="R_IMG_PATH" />
		<result property="r_img_name" column="R_IMG_NAME" />
		<result property="r_img_cname" column="R_IMG_CNAME" />
		<result property="usno" column="US_NO" />			      <!-- USER 테이블 조인 -->
		<result property="r_count" column="R_COUNT" />
		<result property="bus_code" column="REF_BUS_CODE" />  <!-- BUSINESS 테이블 조인 -->
	</resultMap>
	
	<resultMap type="Alliance" id="AllianceResultSet">
		<id property="alno" column="AL_NO" />
		<result property="alintro" column="AL_INTRO" />
		<result property="alsubdate" column="AL_SUBDATE" />
		<result property="startdate" column="START_DATE" />
		<result property="aimgpath" column="A_IMG_PATH" />
		<result property="aimgname" column="A_IMG_NAME" />
		<result property="aimgcname" column="A_IMG_CNAME" />
		<result property="amassage" column="A_MASSAGE" />
		<result property="usno" column="US_NO" />
		<result property="bus_code" column="BUS_CODE" />
		<!-- USER 테이블 조인을 위한 필드 -->
		<result property="usname" column="US_NAME" />	
		<!-- INCOME 테이블 조인을 위한 필드 -->
		<result property="amount" column="amount" />	
		<!-- BUSINESS 테이블 조인을 위한 필드 -->
		<result property="bus_category" column="BUS_CATEGORY" />	
		<!-- POINT 테이블 조인을 위한 필드 -->
		<result property="pbalance" column="PBALANCE" />
	</resultMap>
	
	<resultMap type="Point" id="pointResultSet">
		<id property="pno" column="PNO" />
		<result property="pdate" column="PDATE" />
		<result property="pdetail" column="PDETAIL" />
		<result property="pbalance" column="PBALANCE" />
		<result property="pamount" column="PAMOUNT" />
		<result property="usno" column="US_NO" />
	</resultMap>
	
	<resultMap type="Room" id="RoomResultSet">
		<id property="room_no" column="ROOM_NO" />
		<result property="bus_code" column="BUS_CODE" />
		<result property="room_name" column="ROOM_NAME" />
		<result property="room_price" column="ROOM_PRICE" />
		<result property="room_date" column="ROOM_DATE" />
		<result property="room_modify" column="ROOM_MODIFY" />
		<result property="room_people" column="ROOM_PEOPLE" />
		<result property="room_amenity" column="ROOM_AMENITY" />
		<result property="room_state" column="ROOM_STATE" />
	</resultMap>
	
	<resultMap type="RoomAtt" id="RoomAttResultSet">
		<id property="file_no" column="FILE_NO" />
		<result property="file_name" column="FILE_NAME" />
		<result property="file_root" column="FILE_ROOT" />
		<result property="file_status" column="FILE_STATUS" />
		<result property="file_rename" column="FILE_RENAME" />
		<result property="file_lv" column="FILE_LV" />
		<result property="room_no" column="ROOM_NO" />
	</resultMap>
	
	<resultMap type="TourProduct" id="TourProductResultSet">
		<id property="pro_no" column="PRO_NO" />
		<result property="bus_code" column="BUS_CODE" />
		<result property="pro_name" column="PRO_NAME" />
		<result property="pro_adult" column="PRO_ADULT" />
		<result property="pro_youth" column="PRO_YOUTH" />
		<result property="pro_child" column="PRO_CHILD" />
		<result property="pro_fac" column="PRO_FAC" />
	</resultMap>
	
	<resultMap type="REVIEW" id="ReviewResultSet">
		<id property="rev_no" column="REV_NO"/>

		<result property="rev_comment" column="REV_COMMENT"/>
		<result property="rev_date" column="REV_DATE"/>
		<result property="rev_modify" column="REV_MODIFY"/>
		<result property="rev_status" column="REV_STATUS"/>
		<result property="rev_lv" column="REV_LV"/>
		<result property="img_path" column="IMG_PATH"/>
		<result property="img_name1" column="IMG_NAME1"/>
		<result property="img_name2" column="IMG_NAME2"/>
		<result property="img_name3" column="IMG_NAME3"/>
		<result property="img_rename1" column="IMG_RENAME1"/>
		<result property="img_rename2" column="IMG_RENAME2"/>
		<result property="img_rename3" column="IMG_RENAME3"/>
		<result property="us_no" column="US_NO"/>
		<result property="bus_code" column="BUS_CODE"/>
		<result property="re_star" column="RE_STAR"/>
		<result property="rev_hct" column="REV_HCT"/>
		<!-- rentcar -->
		<result property="c_booking_no" column="C_BOOKING_NO"/>
		<result property="c_bus_name" column="C_BUS_NAME"/>
		<result property="c_booking_product" column="C_PRODUCT_NAME"/>
		<result property="c_booking_date" column="C_BOOKING_DATE"/>
		<result property="c_booking_modify" column="C_BOOKING_MODIFY"/>
		<result property="c_booking_address" column="C_BOOKING_ADDRESS"/>
		<result property="c_booking_pay" column="C_BOOKING_PAY"/>
		<result property="c_booking_number" column="C_BOOKING_NUMBER"/>
		<result property="c_booking_phone" column="C_BOOKING_PHONE"/>
		<result property="c_booking_trv" column="C_TOUR_DATE"/>
		<result property="rent_no" column="RENT_NO"/>
		<result property="c_bus_code" column="BUS_CODE"/>
		
		<!-- hotel -->
		<result property="r_booking_no" column="R_BOOKING_NO"/>
		<result property="r_bus_name" column="BUS_NAME"/>
		<result property="r_booking_product" column="R_PRODUCT_NAME"/>
		<result property="r_booking_date" column="R_BOOKING_DATE"/>
		<result property="r_booking_modify" column="R_BOOKING_MODIFY"/>
		<result property="r_booking_address" column="R_BOOKING_ADDRESS"/>
		<result property="r_booking_pay" column="R_BOOKING_PAY"/>
		<result property="r_booking_number" column="R_BOOKING_NUMBER"/>
		<result property="r_booking_phone" column="R_BOOKING_PHONE"/>
		<result property="r_booking_trv" column="R_TOUR_DATE"/>
		<result property="room_no" column="HOTEL_NO"/>
		<result property="r_bus_code" column="BUS_CODE"/>
		
		<!-- tour -->
		<result property="t_booking_no" column="T_BOOKING_NO"/>
		<result property="t_bus_name" column="T_BUS_NAME"/>
		<result property="t_booking_product" column="T_PRODUCT_NAME"/>
		<result property="t_booking_date" column="T_BOOKING_DATE"/>
		<result property="t_booking_modify" column="T_BOOKING_MODIFY"/>
		<result property="t_booking_address" column="T_BOOKING_ADDRESS"/>
		<result property="t_booking_pay" column="T_BOOKING_PAY"/>
		<result property="t_booking_number" column="T_BOOKING_NUMBER"/>
		<result property="t_booking_phone" column="T_BOOKING_PHONE"/>
		<result property="t_booking_trv" column="T_TOUR_DATE"/>
		<result property="pro_no" column="PRO_NO"/>
		<result property="t_bus_code" column="BUS_CODE"/>
		
		<!-- BUSINESS_ATT Join -->
		<result property="file_rename" column="FILE_RENAME"/>
		<result property="file_lv" column="FILE_LV"/>
		
		<!-- Bsusiness Table 조인 -->
		<result property="bus_name" column="BUS_NAME" />
	
		<result property="us_name" column="US_NAME" />
	</resultMap>
	
	<insert id="insertBusiness" parameterType="Business">
		INSERT
		  INTO BUSINESS
		  (
		  	BUS_CODE
		  , US_NO
		  , BUS_NAME
		  , BUS_ADDRESS
		  , BUS_INTRO
		  , BUS_DATE
		  , BUS_MODIFY
		  , AD_COUNT
		  , BUS_CLASSIFY
		  , BUS_CATEGORY
		  , BUS_STATUS
		  , BUS_PHONE
		  , RES_CATEGORY
		  , BUS_OPENING
		  , HOTEL_FACILITY
		  , TOUR_CATEGORY
		  , TOUR_TEMA
		  , HOTEL_CATEGORY
		  )
		  VALUES
		  (
		  	BUS_SEQ_NO.NEXTVAL
		  , #{us_no}
		  , #{bus_name}
		  , #{bus_address}
		  , #{bus_intro}
		  , SYSDATE
		  , SYSDATE
		  , DEFAULT
		  , #{bus_classify}
		  , #{bus_category}
		  , DEFAULT
		  , #{bus_phone}
		  , #{res_category}
		  , #{bus_opening}
		  , #{hotel_facility}
		  , #{tour_category}
		  , #{tour_tema}
		  , #{hotel_category}
		  )
	</insert>
	<insert id="insertBusAtt" parameterType="java.util.List">
		<foreach collection="list" item="item" open="INSERT ALL" separator=" " close="SELECT * FROM DUAL">
		  INTO BUSINESS_ATT
		  (
		  	FILE_NO
		  ,	FILE_NAME
		  ,	FILE_ROOT
		  ,	FILE_STATUS
		  ,	FILE_RENAME
		  ,	FILE_LV
		  ,	BUS_CODE
		  )
		  VALUES
		  (
		  	BUSATT_SEQ_NO.NEXTVAL
		  , #{item.file_name}
		  , #{item.file_root}
		  , DEFAULT
		  , #{item.file_rename}
		  , DEFAULT
		  , BUS_SEQ_NO.CURRVAL
		  )
		</foreach>
	</insert>
	<insert id="insertMain" parameterType="BusinessAtt">
		  INSERT
		  INTO BUSINESS_ATT
		  (
		  	FILE_NO
		  ,	FILE_NAME
		  ,	FILE_ROOT
		  ,	FILE_STATUS
		  ,	FILE_RENAME
		  ,	FILE_LV
		  ,	BUS_CODE
		  )
		  VALUES
		  (
		  	BUSATT_SEQ_NO.NEXTVAL
		  , #{file_name}
		  , #{file_root}
		  , DEFAULT
		  , #{file_rename}
		  , '0'
		  , BUS_SEQ_NO.CURRVAL
		  )
	</insert>
	<insert id="insertCar" parameterType="Car">
		INSERT ALL
		  INTO CAR
		  (
		  	CAR_NO
		  , BUS_CODE
		  , CAR_NAME
		  , CAR_TYPE
		  , CAR_PRODUCER
		  , CAR_FUEL
		  , CAR_PRICE
		  , CAR_DATE
		  , CAR_MODIFY
		  )
		  VALUES
		  (
		  	CAR_SEQ_NO.NEXTVAL
		  , BUS_SEQ_NO.CURRVAL
		  , #{car_name}
		  , #{car_type}
		  , #{car_producer}
		  , #{car_fuel}
		  , #{car_price}
		  , SYSDATE
		  , SYSDATE
		  )
		  <foreach collection="_parameter.getCarList()" item="item" separator=" " close="SELECT * FROM DUAL">
		  INTO CAR_ATT
		  (
		  	FILE_NO
		  ,	FILE_NAME
		  ,	FILE_ROOT
		  ,	FILE_STATUS
		  ,	FILE_RENAME
		  ,	FILE_LV
		  ,	CAR_NO
		  )
		  VALUES
		  (
		  	get_busatt_seq
		  , #{item.file_name}
		  , #{item.file_root}
		  , DEFAULT
		  , #{item.file_rename}
		  , DEFAULT
		  , CAR_SEQ_NO.CURRVAL
		  )
		</foreach>
	</insert>
  
	<insert id="insertRoom" parameterType="Room">
          INSERT ALL	  
 			INTO ROOM
		  (
		  	ROOM_NO
		  , BUS_CODE
		  , ROOM_NAME
		  , ROOM_PRICE
		  , ROOM_DATE
		  , ROOM_MODIFY
		  , ROOM_PEOPLE
		  , ROOM_AMENITY
		  , ROOM_STATE
		  )
		  VALUES
		  (
		  	ROOM_SEQ_NO.NEXTVAL
		  , BUS_SEQ_NO.CURRVAL
		  , #{room_name}
		  , #{room_price}
		  , SYSDATE
		  , SYSDATE
		  , #{room_people}
		  , #{room_amenity}
		  , DEFAULT
		  )
		  <foreach collection="_parameter.getRoomAtt()" item="item" separator=" " close="SELECT * FROM DUAL">
		  INTO ROOM_ATT
		  (
		  	FILE_NO
		  ,	FILE_NAME
		  ,	FILE_ROOT
		  ,	FILE_STATUS
		  ,	FILE_RENAME
		  ,	FILE_LV
		  ,	ROOM_NO
		  )
		  VALUES
		  (
		  	get_busatt_seq
		  , #{item.file_name}
		  , #{item.file_root}
		  , DEFAULT
		  , #{item.file_rename}
		  , DEFAULT
		  , ROOM_SEQ_NO.CURRVAL
		  )
		  </foreach>
	</insert>

	<insert id="insertTour" parameterType="TourProduct">
		INSERT
		  INTO TOUR_PRODUCT
		  (
		  	PRO_NO
		  , BUS_CODE
		  , PRO_NAME
		  , PRO_ADULT
		  , PRO_YOUTH
		  , PRO_CHILD
		  , PRO_FAC
		  )
		  VALUES
		  (
		  	TOUR_SEQ_NO.NEXTVAL
		  , BUS_SEQ_NO.CURRVAL
		  , #{pro_name}
		  , #{pro_adult}
		  , #{pro_youth}
		  , #{pro_child}
		  , #{pro_fac}
		  )
	</insert>
	
	<select id="selectResListCount" resultType="_int">
		SELECT
			   COUNT(*)
		  FROM
		       BUSINESS
		 WHERE
			   BUS_STATUS = 'Y'
		   AND BUS_CATEGORY = 'R'
		   AND BUS_CLASSIFY = 'G'
	</select>
	<!-- 음식점 디테일 -->
	<select id="selectRestaurant" resultMap="BusinessResultSet">
		SELECT 
		       BUS_CODE
		     , US_NO
		     , BUS_NAME
		     , BUS_ADDRESS
		     , BUS_INTRO
		     , BUS_DATE
		     , BUS_MODIFY
		     , AD_COUNT
		     , BUS_CLASSIFY
		     , BUS_CATEGORY
		     , BUS_STATUS
		     , BUS_PHONE
		     , RES_CATEGORY
		     , BUS_OPENING
		  FROM
		       BUSINESS
		 WHERE
			   BUS_CODE = #{bus_code}
		   AND BUS_STATUS = 'Y'
	</select>
	
	<!-- 관광지디테일 -->
	<select id="selectTour" resultMap="BusinessResultSet">
		SELECT 
		       B.BUS_CODE
		     , US_NO
		     , BUS_NAME
		     , BUS_ADDRESS
		     , BUS_INTRO
		     , BUS_DATE
		     , BUS_MODIFY
		     , AD_COUNT
		     , BUS_CLASSIFY
		     , BUS_CATEGORY
		     , BUS_STATUS
		     , BUS_PHONE
		     , RES_CATEGORY
		     , BUS_OPENING
		     , TP.PRO_NAME
		     , TP.PRO_ADULT
		     , TP.PRO_YOUTH
		     , TP.PRO_CHILD
		     , TP.PRO_FAC
		  FROM
		       BUSINESS B, TOUR_PRODUCT TP
		 WHERE
		       B.BUS_CODE = TP.BUS_CODE   	   
		   AND B.BUS_CODE = #{bus_code}
		   AND BUS_STATUS = 'Y'
	</select>
	<select id="selectAtt" resultMap="BusinessAttResultSet">
		SELECT
		  	   FILE_NO
			 , FILE_NAME
             , FILE_STATUS
             , FILE_RENAME
             , FILE_LV 
             , BUS_CODE
		  FROM 
		  	   BUSINESS_ATT
		 WHERE
			   BUS_CODE = #{bus_code}
	  ORDER BY
	  		   FILE_LV		       
	</select>
	<!-- 렌트카디테일 -->
	<select id="selectCar" resultMap="BusinessResultSet">
		SELECT 
		       BUS_CODE
		     , US_NO
		     , BUS_NAME
		     , BUS_ADDRESS
		     , BUS_INTRO
		     , BUS_DATE
		     , BUS_MODIFY
		     , AD_COUNT
		     , BUS_CLASSIFY
		     , BUS_CATEGORY
		     , BUS_STATUS
		     , BUS_PHONE
		     , BUS_OPENING
		  FROM
		       BUSINESS
		 WHERE
		       BUS_CODE = #{bus_code}
		   AND BUS_CATEGORY = 'C'
		   AND BUS_STATUS = 'Y'
	</select>
	<select id="selectCars" resultMap="CarResultSet">
		SELECT
		       CAR_NO
		     , BUS_CODE
		     , CAR_NAME
		     , CAR_TYPE
		     , CAR_PRODUCER
		     , CAR_FUEL
		     , CAR_PRICE
		     , CAR_DATE
		     , CAR_MODIFY
		  FROM
		       CAR
		 WHERE
		       BUS_CODE = #{bus_code}
	</select>
	<select id="selectCarAtt" resultMap="CarAttResultSet">
		SELECT
		  	   FILE_NO
			 , FILE_NAME
             , FILE_STATUS
             , FILE_RENAME
             , FILE_LV 
             , BUS_CODE
		  FROM 
		  	   BUSINESS_ATT
		 WHERE
			   BUS_CODE = #{bus_code}
	  ORDER BY
	  		   FILE_LV
	</select>
	<!-- 호텔 디테일 -->
	<select id="selectHotel" resultMap="BusinessResultSet">
		SELECT 
		       BUS_CODE
		     , US_NO
		     , BUS_NAME
		     , BUS_ADDRESS
		     , BUS_INTRO
		     , BUS_DATE
		     , BUS_MODIFY
		     , AD_COUNT
		     , BUS_CLASSIFY
		     , BUS_CATEGORY
		     , BUS_STATUS
		     , BUS_PHONE
		     , BUS_OPENING
		     , HOTEL_FACILITY
		  FROM
		       BUSINESS
		 WHERE
               BUS_CODE = #{bus_code}
		   AND BUS_CATEGORY = 'H'
		   AND BUS_STATUS = 'Y'
	</select>
	<!-- 관광지리스트 -->
	<select id="selectTourList" resultMap="BusinessResultSet">
		SELECT 
		       B.BUS_CODE
		     , B.US_NO
		     , BUS_NAME
		     , BUS_ADDRESS
		     , BUS_INTRO
		     , BUS_DATE
		     , BUS_MODIFY
		     , AD_COUNT
		     , BUS_CLASSIFY
		     , BUS_CATEGORY
		     , BUS_STATUS
		     , BUS_PHONE
		     , RES_CATEGORY
		     , BUS_OPENING
		     , BT.FILE_RENAME
		     , BT.FILE_LV
		     , PRO_ADULT
		     , PRO_YOUTH
		     , PRO_CHILD
		  FROM
		       BUSINESS B, BUSINESS_ATT BT, TOUR_PRODUCT TP
		 WHERE
		       B.BUS_CODE = BT.BUS_CODE AND B.BUS_CODE = TP.BUS_CODE
		   AND BUS_CATEGORY = 'T'
		   AND BUS_STATUS = 'Y'
		   AND BT.FILE_LV = '0'
           AND B.BUS_CODE NOT IN (SELECT 
           								 R.REF_BUS_CODE
                                	FROM
                                		 BUSINESS B, REPORT R
                                   WHERE B.BUS_CODE = R.REF_BUS_CODE
                                     AND R.REXDATE IS NOT NULL)
	</select>
	<!-- 호텔리스트 -->
	<select id="selectHotelList" resultMap="BusinessResultSet">
		SELECT 
       		   B.BUS_CODE
       		 , B.US_NO
             , BUS_NAME
     		 , BUS_ADDRESS
     		 , BUS_INTRO
     		 , BUS_CATEGORY
     		 , BUS_PHONE
     		 , BUS_OPENING
     		 , HOTEL_CATEGORY
     		 , BT.FILE_RENAME
     		 , BT.FILE_LV
  		  FROM 
  		       BUSINESS B
  		  JOIN 
  		       BUSINESS_ATT BT ON B.BUS_CODE = BT.BUS_CODE
 		 WHERE   
       		   BUS_STATUS = 'Y'
       	   AND BUS_CATEGORY = 'H'
       	   AND BT.FILE_LV = '0'
       	   AND B.BUS_CODE NOT IN (SELECT 
           								 R.REF_BUS_CODE
                                	FROM
                                		 BUSINESS B, REPORT R
                                   WHERE B.BUS_CODE = R.REF_BUS_CODE
                                     AND R.REXDATE IS NOT NULL)
	</select>
	
	<!-- 호텔리스트 -->
	<select id="priceList" resultMap="BusinessResultSet">
		SELECT 
       		   B.BUS_CODE
       		 , US_NO
             , BUS_NAME
     		 , BUS_ADDRESS
     		 , BUS_INTRO
     		 , BUS_CATEGORY
     		 , BUS_PHONE
     		 , BUS_OPENING
     		 , HOTEL_CATEGORY
     		 , BT.FILE_RENAME
     		 , BT.FILE_LV
  		  FROM 
  		       BUSINESS B
  		  JOIN 
  		       BUSINESS_ATT BT ON B.BUS_CODE = BT.BUS_CODE
  		       
 		 WHERE   
       		   BUS_STATUS = 'Y'
       	   AND BUS_CATEGORY = 'H'
       	   AND BT.FILE_LV = '0'
	  ORDER BY DBMS_RANDOM.RANDOM
	</select>
	<!-- 음식점리스트 -->
	<select id="selectResList" resultMap="BusinessResultSet">
		SELECT 
       		   B.BUS_CODE
       		 , B.US_NO
             , BUS_NAME
     		 , BUS_ADDRESS
     		 , BUS_INTRO
     		 , BUS_CATEGORY
     		 , BUS_PHONE
     		 , BUS_OPENING
     		 , RES_CATEGORY
     		 , BT.FILE_RENAME
     		 , BT.FILE_LV
  		  FROM 
  		       BUSINESS B
  		  JOIN 
  		       BUSINESS_ATT BT ON B.BUS_CODE = BT.BUS_CODE
 		 WHERE   
       		   BUS_STATUS = 'Y'
       	   AND BUS_CATEGORY = 'R'
       	   AND BT.FILE_LV = '0'
       	   AND B.BUS_CODE NOT IN (SELECT 
           								 R.REF_BUS_CODE
                                	FROM
                                		 BUSINESS B, REPORT R
                                   WHERE B.BUS_CODE = R.REF_BUS_CODE
                                     AND R.REXDATE IS NOT NULL)
	</select>
	
	<!-- 렌트카리스트 -->
	<select id="selectCarList" resultMap="BusinessResultSet">
		SELECT
			   B.BUS_CODE
			 , B.US_NO
			 , BUS_NAME
			 , BUS_ADDRESS
			 , BUS_INTRO
			 , BUS_DATE
			 , BUS_MODIFY
			 , AD_COUNT
			 , BUS_CLASSIFY
			 , BUS_CATEGORY
			 , BUS_STATUS
			 , BUS_PHONE
			 , BUS_OPENING
			 , BT.FILE_RENAME
			 , BT.FILE_LV
		  FROM 
  		       BUSINESS B
  		  JOIN 
  		       BUSINESS_ATT BT ON B.BUS_CODE = BT.BUS_CODE 
		 WHERE 
		 	   BUS_STATUS = 'Y'
       	   AND BUS_CATEGORY = 'C'
       	   AND BT.FILE_LV = '0'
       	   AND B.BUS_CODE NOT IN (SELECT 
           								 R.REF_BUS_CODE
                                	FROM
                                		 BUSINESS B, REPORT R
                                   WHERE B.BUS_CODE = R.REF_BUS_CODE
                                     AND R.REXDATE IS NOT NULL)
	</select>
	<!--지혜 -->

	<select id="countReport" resultType="_int">
		SELECT 
   		       COUNT(*)
		  FROM 
		  	   REPORT
		 WHERE 
		 	   RSTATUS = 'N'
	</select>
	
	<select id="selectMyBusinessCategory" parameterType="User" resultType="Business">
		<!--  
		SELECT
				BUS_CODE,
				US_NO,
				BUS_NAME,
				BUS_ADDRESS,
				BUS_INTRO,
				BUS_DATE,
				BUS_MODIFY,
				AD_COUNT,
				BUS_CLASSIFY,
				BUS_CATEGORY,
				BUS_STATUS,
				BUS_PHONE,
				HOTEL_CATEGORY,
				TOUR_CATEGORY,
				TOUR_TEMA,
				AL_NO,
				BUS_OPENING,
				RES_CATEGORY
		FROM    
				SMBCVIEW
		WHERE   BUS_CODE NOT IN (SELECT 
										BUS_CODE
							     FROM   
							     		ALLIANCE
							     WHERE  US_NO = #{usno}
							     AND    ALSTATUS <![CDATA[<>]]> 'Y')
		  AND	US_NO = #{usno}
		 -->
		 <!--  
		  SELECT
				BUS_CODE,
				US_NO,
				BUS_NAME,
				BUS_ADDRESS,
				BUS_INTRO,
				BUS_DATE,
				BUS_MODIFY,
				AD_COUNT,
				BUS_CLASSIFY,
				BUS_CATEGORY,
				BUS_STATUS,
				BUS_PHONE,
				HOTEL_CATEGORY,
				TOUR_CATEGORY,
				TOUR_TEMA,
				AL_NO,
				BUS_OPENING,
				RES_CATEGORY
		FROM    
				SMBCVIEW
		WHERE   BUS_CODE NOT IN (SELECT 
										BUS_CODE
							     FROM   
							     		ALLIANCE, POINT
							     WHERE
                                 ALLIANCE.US_NO = POINT.US_NO
                                 AND ALLIANCE.US_NO = #{usno}
                                 AND POINT.PBALANCE <![CDATA[<>]]> 0
                                 AND ALSTATUS <![CDATA[<>]]> 'Y')
		  AND	US_NO = #{usno}
		  -->
		  
		  SELECT
				BUS_CODE,
				US_NO,
				BUS_NAME,
				BUS_ADDRESS,
				BUS_INTRO,
				BUS_DATE,
				BUS_MODIFY,
				AD_COUNT,
				BUS_CLASSIFY,
				BUS_CATEGORY,
				BUS_STATUS,
				BUS_PHONE,
				HOTEL_CATEGORY,
				TOUR_CATEGORY,
				TOUR_TEMA,
				AL_NO,
				BUS_OPENING,
				RES_CATEGORY
		FROM    
				SMBCVIEW
		WHERE   BUS_CODE NOT IN (SELECT 
										BUS_CODE
							     FROM   
							     		ALLIANCE, "USER"
							     WHERE
                                 ALLIANCE.US_NO = "USER".US_NO
                                 AND ALLIANCE.US_NO = #{usno}
                                 AND ALSTATUS = 'Y' 	  <!-- 현재 광고 진행중이 아닌 것 -->
                                 AND "USER".PBALANCE = 0) <!-- 포인트가 0이 아닌것 -->
		  AND	US_NO = #{usno}
	</select>
	
	<insert id="insertMenu" parameterType="java.util.List">
		<foreach collection="list" item="item" open="INSERT ALL" separator=" " close="SELECT * FROM DUAL">
		  INTO BUSINESS_ATT
		  (
		  	FILE_NO
		  ,	FILE_NAME
		  ,	FILE_ROOT
		  ,	FILE_STATUS
		  ,	FILE_RENAME
		  ,	FILE_LV
		  ,	BUS_CODE
		  )
		  VALUES
		  (
		  	BUSATT_SEQ_NO.NEXTVAL
		  , #{item.file_name}
		  , #{item.file_root}
		  , DEFAULT
		  , #{item.file_rename}
		  , '1'
		  , BUS_SEQ_NO.CURRVAL
		  )
		</foreach>
	</insert>  
	
	<insert id="insertBannerAd" parameterType="Alliance">
		INSERT
		  INTO ALLIANCE
		  (
		  	AL_NO
		  , AL_INTRO
		  , AL_SUBDATE
		  , ALSTATUS
		  , A_IMG_PATH
		  , A_IMG_NAME
		  , A_IMG_CNAME
		  , US_NO
		  , BUS_CODE
		  )
		  VALUES
		  (
		  	AL_SEQ_NO.NEXTVAL
		  , #{alintro}
		  , SYSDATE
		  , 'N'
		  , #{aimgpath}
		  , #{aimgname}
		  , #{aimgcname}
		  , #{usno}
		  , #{bus_code}
		  )
	</insert>
	
	<insert id="insertReport" parameterType="Report">
      INSERT
        INTO Report
        (
          REPORT_NO
        , REP_RES
        , REP_CONT
        , RDATE
        , RSTATUS
        , REXDATE
        , R_IMG_PATH
        , R_IMG_NAME
        , R_IMG_CNAME
        , US_NO
        , R_COUNT
        , REF_BUS_CODE
        )
        VALUES
        (
           REP_SEQ_NO.NEXTVAL
        , #{rep_res}
        , #{rep_cont}
        , DEFAULT
        , DEFAULT
        , DEFAULT
        , #{r_img_path}
        , #{r_img_name}
        , #{r_img_cname}
        , #{usno}
        , DEFAULT
        , #{bus_code}
        )
   </insert>
   
   <insert id="insertReport2" parameterType="Report">
      INSERT
        INTO Report
        (
          REPORT_NO
        , REP_RES
        , REP_CONT
        , RDATE
        , RSTATUS
        , REXDATE
        , R_IMG_PATH
        , R_IMG_NAME
        , R_IMG_CNAME
        , US_NO
        , R_COUNT
        , REF_BUS_CODE
        )
        VALUES
        (
           REP_SEQ_NO.NEXTVAL
        , #{rep_res}
        , #{rep_cont}
        , DEFAULT
        , DEFAULT
        , DEFAULT
        , #{r_img_path}
        , #{r_img_name}
        , #{r_img_cname}
        , #{usno}
        , (SELECT *
                FROM(SELECT 
                             REPORT.R_COUNT
                       FROM 
                             "REPORT"
                       WHERE 
                             REF_BUS_CODE = #{ bus_code}
                             ORDER BY R_COUNT DESC)
            WHERE ROWNUM = 1
           )
        , #{bus_code}
        )
   </insert>
   
   <update id="updateReport" parameterType="Report">
		UPDATE
				Report
			SET
				REP_CONT = #{rep_cont}
			  , R_COUNT = R_COUNT + 1
			  , RDATE = SYSDATE
			  , RSTATUS = 'N'
			  , R_IMG_PATH = #{r_img_path}
        	  , R_IMG_NAME = #{r_img_name}
              , R_IMG_CNAME = #{r_img_cname}
		  WHERE
		  		REF_BUS_CODE = #{bus_code}
	</update>
	
	<select id ="findUsno">
		SELECT
				    BUS_CODE
				  , US_NO
				  , BUS_NAME
				  , BUS_ADDRESS
				  , BUS_INTRO
				  , BUS_DATE
				  , BUS_MODIFY
				  , AD_COUNT
				  , BUS_CLASSIFY
				  , BUS_CATEGORY
				  , BUS_STATUS
				  , BUS_PHONE
				  , RES_CATEGORY
				  , BUS_OPENING
			  FROM
				   BUSINESS
		     WHERE
		     	   BUS_CODE = #{bus_code}
	</select>
  
   <select id="findReportStatus" parameterType="Report" resultMap="ReportResultSet">
      SELECT 
              REPORT_NO
	        , REP_RES
	        , REP_CONT
	        , RDATE
	        , RSTATUS
	        , REXDATE
	        , R_IMG_PATH
	        , R_IMG_NAME
	        , R_IMG_CNAME
	        , US_NO
	        , R_COUNT
	        , REF_BUS_CODE
        FROM 
             (SELECT *
                FROM "REPORT"
               WHERE 
                     REF_BUS_CODE = #{ bus_code}          
                     ORDER BY REPORT_NO DESC)
       WHERE  ROWNUM = 1
   </select>

	<insert id="insertIncome1" parameterType="Income">
		INSERT
		  INTO INCOME
		  (
		  	PAY_NO
		  , ITEM
		  , AMOUNT
	    , PDATE
		  , EXDATE
		  , US_NO
		  )
		  VALUES
		  (
		  	INC_SEQ_NO.NEXTVAL
		  , '프리미엄'
		  , #{amount}
		  , SYSDATE
		  , SYSDATE + #{primonth}
		  , #{usno}
		  )
	</insert>

   <insert id="insertIncome" parameterType="Income">
		INSERT
		INTO Income
		(
			PAY_NO
		  , ITEM
		  , AMOUNT
		  , PDATE
		  , EXDATE
		  , US_NO
		)
		VALUES
		(
			INC_SEQ_NO.NEXTVAL
		  , '수수료'
		  , #{amount}
		  , SYSDATE
		  , NULL
		  , #{usno}
		)
	</insert>
		
	<insert id="insertPoint" parameterType="Point">
		INSERT
		INTO POINT
		(
			PNO
		  , PDATE
		  , PDETAIL
		  , PBALANCE
		  , PAMOUNT
		  , US_NO
		)
		VALUES
		(
			PON_SEQ_NO.NEXTVAL
		  , SYSDATE
		  , '예약 포인트 적립'
		  , #{pbalance}
		  , #{pamount}
		  , #{usno}
		)
	</insert>
	
	<select id="selectTourProduct" parameterType="TourProduct" resultMap="TourProductResultSet">
		SELECT
			    PRO_NO
			  , BUS_CODE
			  , PRO_NAME
			  , PRO_ADULT
			  , PRO_YOUTH
			  , PRO_CHILD
			  , PRO_FAC			  
		  FROM
			   TOUR_PRODUCT
	     WHERE
	     	   BUS_CODE = #{bus_code}
	</select>
	 
	 <insert id="insertBookingHotel">
		INSERT
		  INTO ROOM_BOOKING
		  (
		  	R_BOOKING_NO
		  , R_PRODUCT_NAME
		  , R_BOOKING_DATE
		  , R_BOOKING_MODIFY
		  , R_BOOKING_ADDRESS
		  , R_BOOKING_PAY
		  , R_BOOKING_NUMBER
		  , R_BOOKING_PHONE
		  , R_TOUR_DATE
		  , US_NO
		  , HOTEL_NO
		  , BUS_CODE
		  , BUS_NAME
		  , R_TOUREND_DATE
		  )
		  VALUES
		  (
		  	BOOKING_NO.NEXTVAL
		  , #{r_booking_product}
		  , SYSDATE
		  , NULL
		  , #{r_booking_address}
		  , #{r_booking_pay}
		  , #{r_booking_number}
		  , #{r_booking_phone}
		  , #{r_booking_trv}
		  , #{usno}
		  , #{room_no}
		  , #{bus_code}
		  , #{r_bus_name}
		  , #{r_booking_trvEnd}
		  )
	</insert>
	
	<insert id="insertBookingTour">
		INSERT
		  INTO TOUR_BOOKING
		  (
		  	T_BOOKING_NO
		  ,	T_BUS_NAME
		  , T_PRODUCT_NAME
		  , T_BOOKING_DATE
		  , T_BOOKING_MODIFY
		  , T_BOOKING_ADDRESS
		  , T_BOOKING_PAY
		  , T_BOOKING_NUMBER
		  , T_BOOKING_PHONE
		  , T_TOUR_DATE
		  , US_NO
		  , PRO_NO
		  , BUS_CODE		  
		  )
		  VALUES
		  (
		  	BOOKING_NO.NEXTVAL
		  , #{t_bus_name}
		  , #{t_booking_product}
		  , SYSDATE
		  , DEFAULT
		  , #{t_booking_address}
		  , #{t_booking_pay}
		  , #{t_booking_number}
		  , #{t_booking_phone} 
		  , #{t_booking_trv}
		  , #{usno}
		  , #{pro_no}
		  , #{bus_code}
		  )
	</insert>
	
	<insert id="insertBookingCar">
		INSERT
		  INTO CAR_BOOKING
		  (
		  	C_BOOKING_NO
		  ,	C_BUS_NAME
		  , C_PRODUCT_NAME
		  , C_BOOKING_DATE
		  , C_BOOKING_MODIFY
		  , C_BOOKING_ADDRESS
		  , C_BOOKING_PAY		  
		  , C_BOOKING_PHONE
		  , C_TOUR_DATE
		  , US_NO
		  , RENT_NO
		  , BUS_CODE
		  , C_TOUREND_DATE
		  )
		  VALUES
		  (
		  	BOOKING_NO.NEXTVAL
		  , #{c_bus_name}
		  , #{c_booking_product}
		  , SYSDATE
		  , DEFAULT
		  , #{c_booking_address}
		  , #{c_booking_pay}		  
		  , #{c_booking_phone} 
		  , #{c_booking_trv}
		  , #{usno}
		  , #{rent_no}
		  , #{bus_code}
		  , #{c_booking_trvEnd}
		  )
	</insert>
	
	<select id="findPoint" parameterType="Point" resultMap="pointResultSet">
		SELECT *
		FROM (
		        SELECT *
		        FROM POINT
		        WHERE US_NO = #{usno}
		        ORDER BY PDATE DESC
      		 )
		WHERE 
				ROWNUM = 1
	</select>
	
	<select id="selectRoom" resultMap="RoomResultSet">
		SELECT
		       ROOM_NO
		     , BUS_CODE
		     , ROOM_NAME
		     , ROOM_PRICE
		     , ROOM_PEOPLE
		     , ROOM_AMENITY
		     , ROOM_STATE
		  FROM
		       ROOM
		 WHERE
		       BUS_CODE = #{ bus_code }
		   AND ROOM_STATE = 'Y'
	</select>
	
	<select id="selectRoomAtt" resultMap="RoomAttResultSet">
		SELECT
		       FILE_RENAME
		     , R.ROOM_NO
		  FROM
		       ROOM_ATT RA, ROOM R, BUSINESS B
		 WHERE
		       B.BUS_CODE = R.BUS_CODE
		   AND R.ROOM_NO = RA.ROOM_NO
		   AND B.BUS_CODE = #{ bus_code }
	</select>
	
	<!-- 카테고리별 리스트 -->
	<select id="cateList" resultMap="BusinessResultSet">
		SELECT 
		       B.BUS_CODE
		     , US_NO
		     , BUS_NAME
		     , BUS_ADDRESS
		     , BUS_INTRO
		     , BUS_DATE
		     , BUS_MODIFY
		     , AD_COUNT
		     , BUS_CLASSIFY
		     , BUS_CATEGORY
		     , BUS_STATUS
		     , BUS_PHONE
		     , RES_CATEGORY
		     , BUS_OPENING
		     , BT.FILE_RENAME
		     , BT.FILE_LV
		     , PRO_ADULT
		     , PRO_YOUTH
		     , PRO_CHILD
		  FROM
		       BUSINESS B, BUSINESS_ATT BT, TOUR_PRODUCT TP
		 WHERE
		       B.BUS_CODE = BT.BUS_CODE AND B.BUS_CODE = TP.BUS_CODE   	   
		   AND BUS_CATEGORY = 'T'
		   AND BUS_CLASSIFY = 'G'
		   AND BUS_STATUS = 'Y'
           AND B.TOUR_TEMA = #{kind}
           AND BT.FILE_LV = '0'
	  ORDER BY DBMS_RANDOM.RANDOM
	</select>
	
	<!-- 유형별 리스트 -->
	<select id="calList" resultMap="BusinessResultSet">
		SELECT 
		       B.BUS_CODE
		     , US_NO
		     , BUS_NAME
		     , BUS_ADDRESS
		     , BUS_INTRO
		     , BUS_DATE
		     , BUS_MODIFY
		     , AD_COUNT
		     , BUS_CLASSIFY
		     , BUS_CATEGORY
		     , BUS_STATUS
		     , BUS_PHONE
		     , RES_CATEGORY
		     , BUS_OPENING
		     , BT.FILE_RENAME
		     , BT.FILE_LV
		     , PRO_ADULT
		     , PRO_YOUTH
		     , PRO_CHILD
		  FROM
		       BUSINESS B, BUSINESS_ATT BT, TOUR_PRODUCT TP
		 WHERE
		       B.BUS_CODE = BT.BUS_CODE AND B.BUS_CODE = TP.BUS_CODE   	   
		   AND BUS_CATEGORY = 'T'
		   AND BUS_CLASSIFY = 'G'
		   AND BUS_STATUS = 'Y'
           AND B.TOUR_CATEGORY = #{kind}
           AND BT.FILE_LV = '0'
	  ORDER BY DBMS_RANDOM.RANDOM
	</select>
	
	
	
	<select id="selectReview" resultMap="ReviewResultSet">
		SELECT
		       REV_NO
		     , REV_COMMENT
		     , REV_DATE
		     , REV_MODIFY
		     , REV_STATUS
		     , REV_LV
		     , R.US_NO
		     , BUS_CODE
		     , RE_STAR
		     , IMG_RENAME1
		     , IMG_RENAME2
		     , IMG_RENAME3
		     , REV_HCT
		     , U.US_NAME
		  FROM 
		       REVIEW R, "USER" U
		 WHERE
		 	   R.US_NO = U.US_NO
		   AND BUS_CODE = #{bus_code}
		   AND REV_STATUS = 'Y'
	  ORDER BY REV_DATE DESC
	</select>
  
	<select id="selectJjim" resultType="map">
	    SELECT 
	    		JJIM_NO
	    	  , JJIM_DATE
	    	  , JJIM_STATUS
	    	  , BUS_CODE
	    	  , US_NO
	      FROM 
	    	    JJIM
	     WHERE 
	     		BUS_CODE = #{bbsidx} 
	       AND 
	            US_NO = #{useridx}
	</select>	
	
	<insert id="insertJjim" parameterType="map">
      INSERT
        INTO JJIM
        (
          JJIM_NO
        , JJIM_DATE
        , JJIM_STATUS
        , BUS_CODE
        , US_NO        
        )
        VALUES
        (
           JJIM_NO.NEXTVAL
        , SYSDATE
        , DEFAULT
        , #{bbsidx}
        , #{useridx}
        )
   </insert>
 
   <update id="udpateJjim" parameterType="map">
		UPDATE
				JJIM
			SET
				JJIM_DATE = DEFAULT
			  , JJIM_STATUS = #{jjimcheck}
		  WHERE
		  		BUS_CODE = #{bbsidx}
		    AND
		        US_NO = #{useridx}
	</update>
	
	<!-- 리스트에서 사업장검색 -->
	<select id="searchHotelList" resultMap="BusinessResultSet">
	<bind name="bus_name" value="'%' + _parameter.getSearchValue() + '%'"/>
		SELECT 
       		   B.BUS_CODE
       		 , US_NO
             , BUS_NAME
     		 , BUS_ADDRESS
     		 , BUS_INTRO
     		 , BUS_CATEGORY
     		 , BUS_PHONE
     		 , BUS_OPENING
     		 , HOTEL_CATEGORY
     		 , BT.FILE_RENAME
     		 , BT.FILE_LV
  		  FROM 
  		       BUSINESS B
  		  JOIN 
  		       BUSINESS_ATT BT ON B.BUS_CODE = BT.BUS_CODE
 		 WHERE   
       		   BUS_STATUS = 'Y'
       	   AND BUS_CATEGORY = 'H'
       	   AND BT.FILE_LV = '0'
       	   AND BUS_CLASSIFY = 'G'
	  	   AND B.BUS_NAME like #{bus_name}
	</select>
	
	<select id="searchTourList" resultMap="BusinessResultSet">
	<bind name="bus_name" value="'%' + _parameter.getSearchValue() + '%'"/>
		SELECT 
		       B.BUS_CODE
		     , US_NO
		     , BUS_NAME
		     , BUS_ADDRESS
		     , BUS_INTRO
		     , BUS_DATE
		     , BUS_MODIFY
		     , AD_COUNT
		     , BUS_CLASSIFY
		     , BUS_CATEGORY
		     , BUS_STATUS
		     , BUS_PHONE
		     , RES_CATEGORY
		     , BUS_OPENING
		     , BT.FILE_RENAME
		     , BT.FILE_LV
		     , PRO_ADULT
		     , PRO_YOUTH
		     , PRO_CHILD
		  FROM
		       BUSINESS B, BUSINESS_ATT BT, TOUR_PRODUCT TP
		 WHERE
		       B.BUS_CODE = BT.BUS_CODE AND B.BUS_CODE = TP.BUS_CODE   	   
		   AND BUS_CATEGORY = 'T'
		   AND BUS_CLASSIFY = 'G'
		   AND BUS_STATUS = 'Y'
           AND BT.FILE_LV = '0'
           AND BUS_NAME like #{bus_name}
	</select>
	
	<select id="searchResList" resultMap="BusinessResultSet">
	<bind name="bus_name" value="'%' + _parameter.getSearchValue() + '%'"/>
		SELECT 
       		   B.BUS_CODE
       		 , US_NO
             , BUS_NAME
     		 , BUS_ADDRESS
     		 , BUS_INTRO
     		 , BUS_CATEGORY
     		 , BUS_PHONE
     		 , BUS_OPENING
     		 , RES_CATEGORY
     		 , BT.FILE_RENAME
     		 , BT.FILE_LV
  		  FROM 
  		       BUSINESS B
  		  JOIN 
  		       BUSINESS_ATT BT ON B.BUS_CODE = BT.BUS_CODE
 		 WHERE   
       		   BUS_STATUS = 'Y'
       	   AND BUS_CATEGORY = 'R'
       	   AND BT.FILE_LV = '0'
       	   AND BUS_CLASSIFY = 'G'
	  	   AND BUS_NAME like #{bus_name}
	</select>
	
	<select id="searchCarList" resultMap="BusinessResultSet">
	<bind name="bus_name" value="'%' + _parameter.getSearchValue() + '%'"/>
		SELECT
			   B.BUS_CODE
			 , US_NO
			 , BUS_NAME
			 , BUS_ADDRESS
			 , BUS_INTRO
			 , BUS_DATE
			 , BUS_MODIFY
			 , AD_COUNT
			 , BUS_CLASSIFY
			 , BUS_CATEGORY
			 , BUS_STATUS
			 , BUS_PHONE
			 , BUS_OPENING
			 , BT.FILE_RENAME
			 , BT.FILE_LV
		  FROM 
  		       BUSINESS B
  		  JOIN 
  		       BUSINESS_ATT BT ON B.BUS_CODE = BT.BUS_CODE 
		 WHERE 
		 	   BUS_STATUS = 'Y'
       	   AND BUS_CATEGORY = 'C'
       	   AND BT.FILE_LV = '0'
	  	   AND BUS_CLASSIFY = 'G'
	  	   AND BUS_NAME like #{bus_name}
	</select>

   <!-- 지혜 -->
   <select id="selectBannerAdImgList" resultMap="AllianceResultSet">
		SELECT
                        AL_NO, BUS_CODE, A_IMG_CNAME
		FROM    
				         ALLIANCE, "USER"
		WHERE 	 
				          "USER".US_NO = ALLIANCE.US_NO
		AND               "USER".PBALANCE <![CDATA[<>]]> 0
		AND              ALSTATUS = 'Y'
		GROUP BY AL_NO, BUS_CODE, A_IMG_CNAME
   </select>
   
   <select id="selectBannerAdDetail" parameterType="_int" resultMap="BusinessResultSet">
		SELECT
			    BUS_CODE
			  , US_NO
			  , BUS_NAME
			  , BUS_ADDRESS
			  , BUS_INTRO
			  , BUS_DATE
			  , BUS_MODIFY
			  , AD_COUNT
			  , BUS_CLASSIFY
			  , BUS_CATEGORY
			  , BUS_STATUS
			  , BUS_PHONE
			  , RES_CATEGORY
			  , BUS_OPENING
		  FROM
			   BUSINESS
	     WHERE
	     	   BUS_CODE = #{bus_code}
	</select>
	
	<update id="updateReadCount" parameterType="_int">
		UPDATE
				BUSINESS
			SET
				AD_COUNT = AD_COUNT + 1
		  WHERE
		  		BUS_CODE = #{bus_code}
	</update>
	
	<insert id="insertPointDeduction" parameterType="Business">
		INSERT
			INTO 
			POINT
		(
			PNO
		  , PDATE
		  , PDETAIL
		  , PBALANCE
		  , PAMOUNT
		  , US_NO
		)
		VALUES
		(
			PON_SEQ_NO.NEXTVAL
		  , SYSDATE
		  , '배너광고 포인트 차감'
		  , (SELECT *
                FROM(SELECT 
                			 "POINT".PBALANCE
                       FROM 
                       		 "POINT"
                       WHERE 
                             US_NO = #{us_no}
                    ORDER BY PNO DESC)
              WHERE ROWNUM <![CDATA[<=]]> 1) - 100
		  , 100
		  , #{us_no}
		)
	</insert>
	
	<select id="selectBusCodeUser" parameterType="Business" resultMap="BusinessResultSet">
		SELECT
			    BUS_CODE
			  , US_NO
			  , BUS_NAME
			  , BUS_ADDRESS
			  , BUS_INTRO
			  , BUS_DATE
			  , BUS_MODIFY
			  , AD_COUNT
			  , BUS_CLASSIFY
			  , BUS_CATEGORY
			  , BUS_STATUS
			  , BUS_PHONE
			  , RES_CATEGORY
			  , BUS_OPENING
		  FROM
			   BUSINESS
	     WHERE
	     	   BUS_CODE = #{bus_code}
	</select>
	
	<select id="getBusDetail" parameterType="Business" resultMap="BusinessResultSet">
		SELECT
			    BUS_CODE
			  , US_NO
			  , BUS_NAME
			  , BUS_ADDRESS
			  , BUS_INTRO
			  , BUS_DATE
			  , BUS_MODIFY
			  , AD_COUNT
			  , BUS_CLASSIFY
			  , BUS_CATEGORY
			  , BUS_STATUS
			  , BUS_PHONE
			  , RES_CATEGORY
			  , BUS_OPENING
		  FROM
			   BUSINESS
	     WHERE
	     	   BUS_CODE = #{bus_code}
	</select>
	
	<update id="insertPointColumn" parameterType="Business">
		UPDATE
				"USER"
			SET
				PBALANCE = (SELECT *
                			 FROM(SELECT POINT.PBALANCE 
                          		  FROM 
                       		           POINT
                                  WHERE 
                                  US_NO = #{us_no}
                    		      ORDER BY PNO DESC)
              WHERE ROWNUM <![CDATA[<=]]> 1)
		WHERE
		US_NO = #{us_no}
	</update>

	
	
</mapper>