<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapepr 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="listpageMapper">
	<resultMap type="" id="voResultSet"> <!-- resultMap 여러개 적기!!@!@!@#!@# -->
		<id property="" column="" />
		<result property="" column="" />
		<result property="" column="" />
		<result property="" column="" />
		<result property="" column="" />
		<result property="" column="" />
		<result property="" column="" />
		<result property="" column="" />
		<result property="" column="" />
		<result property="" column="" />
		<result property="" column="" />
		<result property="" column="" />
	</resultMap>

</mapper>