<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC 
"-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>
	<settings>
		<!-- 만약에 null로 데이터가 전달 되었다면 빈칸이 아닌 NULL로 인식 -->
		<setting name="jdbcTypeForNull" value="NULL"/>
		<!-- 데이터 베이스로의 응답을 얼마나 오래 기다릴지 판단하는 타임 아웃 설정 -->
		<setting name="defaultStatementTimeout" value="25"/>
	</settings>
	
<!-- typeAliases -->
	<typeAliases>
		<typeAlias type="com.kh.samdado.user.model.vo.User" alias="User"/>
		<typeAlias type="com.kh.samdado.mypage.model.vo.QnA" alias="QnA"/>
		<typeAlias type="com.kh.samdado.mypage.model.vo.Point" alias="Point"/>
		<typeAlias type="com.kh.samdado.mypage.model.vo.AccountBook" alias="AccountBook"/>
		<typeAlias type="com.kh.samdado.mypage.model.vo.Alert" alias="Alert"/>
		<typeAlias type="com.kh.samdado.mypage.model.vo.Booking" alias="Booking"/>
		<typeAlias type="com.kh.samdado.common.model.vo.Income" alias="Income"/>
		<typeAlias type="com.kh.samdado.admin.model.vo.aSearch" alias="aSearch"/>
		<typeAlias type="com.kh.samdado.common.model.vo.Report" alias="Report"/>
   		<typeAlias type="com.kh.samdado.common.model.vo.Alliance" alias="Alliance"/>
   		<typeAlias type="com.kh.samdado.business.model.vo.business.Business" alias="Business"/>
   		<typeAlias type="com.kh.samdado.business.model.vo.business.BusinessAtt" alias="BusinessAtt"/>
   		<typeAlias type="com.kh.samdado.route.model.vo.Route" alias="Route"/>
   		<typeAlias type="com.kh.samdado.route.model.vo.TourSpot" alias="TourSpot"/>
   		<typeAlias type="com.kh.samdado.route.model.vo.rSearch" alias="rSearch"/>
   		<typeAlias type="com.kh.samdado.business.model.vo.rentcar.Car" alias="Car"/>
   		<typeAlias type="com.kh.samdado.business.model.vo.rentcar.CarAtt" alias="CarAtt"/>
		<typeAlias type="com.kh.samdado.business.model.vo.hotel.Room" alias="Room"/>
   		<typeAlias type="com.kh.samdado.business.model.vo.hotel.RoomAtt" alias="RoomAtt"/>
   		<typeAlias type="com.kh.samdado.business.model.vo.tour.TourProduct" alias="TourProduct"/>
   		<typeAlias type="com.kh.samdado.business.model.vo.Review" alias="Review"/>
   		<typeAlias type="com.kh.samdado.business.model.vo.Jjim" alias="Jjim"/>
		<typeAlias type="com.kh.samdado.common.model.vo.Income" alias="Income"/>
		<typeAlias type="com.kh.samdado.route.model.vo.RouteFinal" alias="RouteFinal"/>
	</typeAliases>

	 <!-- mappers -->
	<mappers>
		<mapper resource="mappers/user-mapper.xml"/>
	    <mapper resource="mappers/admin-mapper.xml"/>	
		<mapper resource="mappers/mypage_mapper.xml"/>    
   		<mapper resource="mappers/business-mapper.xml"/>    
   		<mapper resource="mappers/route-mapper.xml"/>
	</mappers>
</configuration>