@charset "UTF-8";

	/* 공통 - 폰트 */
   
		.footer-outer-class{
            background-color: rgb(70, 115, 85);
            height : 190px;
            /* z-index: 2; */
            /* position: relative; */

        }

        .leftImg{
            margin-left:6%;
            margin-top:20px;
        }

        #footer_center {
            margin-left:30%;
            margin-top:-130px;
            color:white;
        }

        #footer_right{
            margin-left:60%;
            margin-top:-120px;
            color:white;
        }

        .rightImg{
            padding-right: 15px;
        }

        #copyRight{
            color:white;
            margin-left: 40%;
            margin-right : 40%;
            margin-top:10px;
            margin-bottom: 0px;
            opacity: 0.5;
        }

        hr{
            color:white;
        }
