@charset "UTF-8";

 <!-- 모달 --!>
       /* .mapSearchbtn {
            background-color: rgba(189, 189, 189, 0.4);
            width: 50px;
            height: 50px;
            border: 0px;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
            
            margin-right: 40%;
        } */
        
        .srcimg {
            width: 80px;
            height: 80px;
        }

        .modal-header {
            border: 0px;
           
        }

        #modal-body {
            /* height: auto; */
            max-height: 420px;
            overflow: auto;
            overflow-x: hidden;
        }

        #search_input {
            width: 80%;
            margin-left: 10%;
            /* margin-right: 10%; */

            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
        }

        #modal-body input {
            background-image: url(../../images/image_route/search.png);
            background-repeat: no-repeat;
            background-size: 30px;
            padding-left: 35px;
        }

        #searchtitle {
            font-size: larger;
            margin: 0px;
            cursor: default;
        }

        #zzim {
            font-size: 20px;
            margin-left: 10%;
            font-weight: 400;
            margin-bottom: 0%;
        }

        .zzim_list {
            margin-left: 10%;
            margin-right: 10%;
            border-bottom: 1px solid #467355 ;
            margin-top: 3%;
        }

        .zzim_content_title {
            margin-bottom: 0px;
            font-size: 18px;
            font-weight: 600;
        }

        .zzim_content {
            margin-bottom: 0px;
            font-size: 13px;
        }

        #addbtn {
            background-color: white;
            border: 0px;
            margin-left: 80%;
        }
		
		button {
			border: 0px;
			border-top-right-radius: 50px;  
			border-bottom-right-radius: 50px; 
			border-top-left-radius: 50px;  
			border-bottom-left-radius: 50px; 
			position:relative;
		}
		
		
